.trunk {
	background: #99e; 
	border: 5px solid #88d; 
	border-radius: 10px; 
	display: inline-block; 
	padding: 0px; 
	margin: 0px auto; 
	white-space: nowrap; 
	box-sizing: border-box; 
}

.trunk:hover {
	background: #99e; 
	border: 5px solid #88d; 
	border-radius: 10px; 
	display: inline-block; 
	padding: 0px; 
	margin: 0px auto; 
	white-space: nowrap; 
	box-sizing: border-box; 
}

.Arg {
	position: relative; 
	display: inline-block; 
}

.SubArgList {
	display: flex; 
	flex-wrap: nowrap; 
	justify-content: center; 
	margin: 0px;
	gap: 20px; 
	
}

.Assertion {
    background: #99e;
    border: 0px;
    margin: 15px;
    font-size: 14px;
    width: auto;
    min-width: 50px;
    max-width: 300px;
    overflow-wrap: break-word;
    white-space: normal;

    
    font-family: inherit;
    line-height: 1.2; 
}

.Reasoning {
    background: #99e;
    border: 0px;
    margin: 10px;
    font-size: 14px;
    width: auto;
    min-width: 50px;
    max-width: 300px;
    overflow-wrap: break-word;
    white-space: normal;

    
    font-family: inherit;
    line-height: 1.2; 
}

.AssertionModify {
    background: #99e;
    border: 0px;
}

.ReasoningModify {
	background: #99e;
    border: 0px;
}

.AddBtnArg {
	background: #99e; 
	border: 5px solid #88d; 
	border-radius: 15px; 
	display: inline-block;  
	white-space: nowrap; 
	box-sizing: border-box;
	width: 30px; 
	height: 30px;
	margin: 0px;
}

.AddBtnArg:hover {
	background: #b9e; 
	border: 5px solid #a8d; 
	border-radius: 15px; 
	display: inline-block;  
	white-space: nowrap; 
	box-sizing: border-box;
	width: 30px; 
	height: 30px;
	margin: 0px;
}

.OptBtn {
	background: #aad;
	width: 40%;
}

.AddBtnEvidence {
	background: #aad; 
	width: 40%;
}

.OptBtn:hover {
	background: #87c; 
}

.AddBtnEvidence:hover {
	background: #87c; 
}

div.BtnDiv * {
	display: inline-block; 
	margin: 0 5px; 
}

.AssertionInput {
	background: #99e; 
	border: 5px solid #88d; 
	border-radius: 10px; 
	display: inline-block; 
	margin: 10px auto; 
	white-space: nowrap; 
	box-sizing: border-box; 
	height: 25px;
}

.EvidenceList {
	padding: 0px;
	margin: 0px;
}

.SubArgList {
	padding: 0px;
}

.Evidence {
	background: #aaf;
}

.Evidence:hover {
	background: #88e;
}

.Source {
	background: #99e;
	width: 90%;
	margin: 0px;
	display: none;
}

.Evidence:hover p.Source{
	background: #99e;
	display: block;
}

.BtnDiv {
	background: #9ae;
	width: 100%;
	
	
}

.horizontal-line {
  height: 2px; 
  background-color: black;
  margin: 0; 
  padding: 0; 
  display: block; 
}

.vertical-line {
  width: 2px;  
  height: 20px; 
  background-color: black;
}


#graph {
	margin: 2%;
}

body {
	margin: 0px;
}

.grow-wrap {
  display: grid;
}
.grow-wrap::after {
  content: attr(data-replicated-value) " ";
  white-space: pre-wrap;
  visibility: hidden;
}
.grow-wrap > textarea {
  resize: none;
  overflow: hidden;
  
}
.grow-wrap > textarea,
.grow-wrap::after {
  border: 0px;
  padding: 0.5rem;
  font: inherit;
  grid-area: 1 / 1 / 2 / 2;
}
